/* You can add global styles to this file, and also import other style files */
input, select, button {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    color: currentColor;
    min-height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 140px;
    background: #fefefe;
    padding: 0 10px;
    border-radius: 0;

    &:focus {
        outline: none;
    }
}

input[type="checkbox"] {
    display: none;
    & + i {
        display: inline-block;
        content: '';
        width: 2ex;
        height: 2ex;
        border: 2px solid #AAA;
        border-radius: 2px;
        margin-right: 8px;
        margin-bottom: -3px;
    }

    &:checked + i {
        border-color: #AC92EC;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' viewBox='0 0 1280 1084'%3E%3Cpath fill='%23967ADC' d='M738 345.5C576.6 506.9 444.2 638.9 443.8 638.8c-.4-.2-44.7-44.2-98.3-97.8L248 443.5l-98.3 98.3L51.5 640l196.3 196.2L444 1032.5l392.2-392.2L1228.5 248l-98-98c-53.9-53.9-98.2-98-98.5-98-.3 0-132.6 132.1-294 293.5z'/%3E%3C/svg%3E%0A");
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@keyframes rot {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

th, b, h5 {
    font-size: 13px;
    font-weight: bold;
}

button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background: #AC92EC;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }

    &.loading, &.loading:hover:not(:disabled) {
        background: rgba(0,0,0,0.02);
        cursor: default;
        position: relative;
        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            height: 15px;
            width: 15px;
            border: 2px solid #AC92EC;
            border-top-color: transparent;
            animation: rot 0.8s infinite linear;
            border-radius: 50%;
        }
    }

    &:hover:not(:disabled) {
        background: #967ADC;
    }
}

select {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}