<table id="html_table">
    <tr>
        <th>Mass</th>
        <td>&nbsp;</td>
        <td><span class="readonly">{{values.getMass}}</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="spacer">
            <button (click)="exec('getMass')"
                [class.loading]="isLoading('getMass')"
                [disabled]="isDisabled('getMass')">
            </button>
        </td>
        <th>Consumed power</th>
        <td><span class="readonly">{{values.getConsumedPower}}</span></td>
        <td class="spacer" [class.not]="systemModeId === ''">
            <button (click)="exec('getConsumedPower')"
                [class.loading]="isLoading('getConsumedPower')"
                [disabled]="isDisabled('getConsumedPower')">
            </button>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>COG</th>
        <td>&nbsp;</td>
        <td align="center">X</td>
        <td align="center">Y</td>
        <td align="center">Z</td>
        <td class="spacer">
            <button (click)="exec('getCog')"
                [class.loading]="isLoading('getCog')"
                [disabled]="isDisabled('getCog')">
            </button>
        </td>
        <th>Dissipated power</th>
        <td><span class="readonly">{{values.getDissipatedPower}}</span></td>
        <td class="spacer" [class.not]="systemModeId === ''">
            <button (click)="exec('getDissipatedPower')"
                [class.loading]="isLoading('getDissipatedPower')"
                [disabled]="isDisabled('getDissipatedPower')">
            </button>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span class="readonly">{{values.getCog[0]}}</span></td>
        <td><span class="readonly">{{values.getCog[1]}}</span></td>
        <td><span class="readonly">{{values.getCog[2]}}</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="spacer"></td>
        <th>AVG consumed power</th>
        <td><span class="readonly">{{values.getDutyCycleConsumedPower}}</span></td>
        <td class="spacer" [class.not]="systemModeId === ''">
            <button (click)="exec('getDutyCycleConsumedPower')"
                [class.loading]="isLoading('getDutyCycleConsumedPower')"
                [disabled]="isDisabled('getDutyCycleConsumedPower')">
            </button>
        </td>
    </tr>
    <tr>
        <th>Inertia matrix</th>
        <td>&nbsp;</td>
        <td align="center">X</td>
        <td align="center">Y</td>
        <td align="center">Z</td>
        <td class="spacer">
            <button (click)="exec('getInertiaMatrix')"
                [class.loading]="isLoading('getInertiaMatrix')"
                [disabled]="isDisabled('getInertiaMatrix')">
            </button>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>X</td>
        <td><span class="readonly">{{values.getInertiaMatrix[0][0]}}</span></td>
        <td><span class="readonly">{{values.getInertiaMatrix[0][1]}}</span></td>
        <td><span class="readonly">{{values.getInertiaMatrix[0][2]}}</span></td>
        <td class="spacer"></td>
        <th>AVG dissipated power</th>
        <td><span class="readonly">{{values.getDutyCycleDissipatedPower}}</span></td>
        <td class="spacer" [class.not]="systemModeId === ''">
            <button (click)="exec('getDutyCycleDissipatedPower')"
                [class.loading]="isLoading('getDutyCycleDissipatedPower')"
                [disabled]="isDisabled('getDutyCycleDissipatedPower')">
            </button>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>Y</td>
        <td><span class="readonly">{{values.getInertiaMatrix[1][0]}}</span></td>
        <td><span class="readonly">{{values.getInertiaMatrix[1][1]}}</span></td>
        <td><span class="readonly">{{values.getInertiaMatrix[1][2]}}</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>Z</td>
        <td><span class="readonly">{{values.getInertiaMatrix[2][0]}}</span></td>
        <td><span class="readonly">{{values.getInertiaMatrix[2][1]}}</span></td>
        <td><span class="readonly">{{values.getInertiaMatrix[2][2]}}</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<div class="no-select row">
    <button class="copy" (click)="copyHtml()">copy to clipboard</button>
    <button class="all" (click)="execAll()">Retrieve all</button>
</div>