table {
    border-collapse: collapse;
    margin: 30px auto;
    background-color: transparent;

    th {
        text-align: left;
    }

    td, th {
        border: 1px solid black;
        border-color: transparent;

        > .readonly {
            display: inline-block;
            padding: 4px 8px;
            background-color: #fefefe;
            width: 60px;
            min-height: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &.spacer {
            width: 135px;
        }
    }

    tr {
        .spacer ~ .spacer {
            text-align: right;
        }
    }
}

button {
    font-size: 10px;
    background: #A0D468;
    min-width: 0;
    width: 100px;
    user-select: none;

    &::before {
        content: 'Retrieve';
    }

    &.loading, &.loading:hover:not(:disabled) {
        background: rgba(0,0,0,0.02);
        cursor: default;
        position: relative;
        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            height: 15px;
            width: 15px;
            border: 2px solid #A0D468;
            border-top-color: transparent;
            animation: rot 0.8s infinite linear;
            border-radius: 50%;
        }
    }

    &:hover:not(:disabled) {
        background: #8CC152;
    }
}

.no-select {
    width: 100%;
    user-select: none;
    justify-content: space-between;

    button {
        width: 140px;

        &::before { content: ''; }
    }

    button.copy {
        background: #48CFAD;
        &:hover {
            background: #37BC9B;
        }
    }
}