<div class="main-panel">

    <span class="error" *ngIf="error">{{error}}</span>

    <label class="url container">
        <span>API address:</span>
        <input type="text" placeholder="http://API_URL:8080/IdmCicWebService" [value]="url" (change)="url = $event.target.value"/>
        <button *ngIf="!modelsLoading; else modelsLoadingElem" (click)="onRetrieveModels()">Retrieve models</button>
        <ng-template #modelsLoadingElem>
            <button class="loading"></button>
        </ng-template>
    </label>

    <div *ngIf="models.length" class="models row container">
        <label class="field">
            <span>Models</span>
            <select (change)="changeModel($event.target.value)">
                <option value="" selected={{isNotPathInList()}}></option>
                <option value="{{model.path}}" *ngFor="let model of models" selected={{isPath(model.path)}}>{{model.label}}</option>
            </select>
        </label>
        <input class="path" type="text" name="path" [value]="path" (change)="changeModel($event.target.value)" placeholder="C:\Files\model.idm"/>
        <button *ngIf="!modelLoading; else modelLoadingElem" (click)="openModel()">Open model</button>
        <ng-template #modelLoadingElem>
            <button class="loading"></button>
        </ng-template>
    </div>

    <div *ngIf="sessionId" class="config row container">
        <label class="field">
            <span>Configuration</span>
            <select *ngIf="configurations.length" (change)="changeConf($event.target.value)" class="configs">
                <option value="{{conf.value}}" *ngFor="let conf of configurations">{{conf.item.Name}}</option>
            </select>
        </label>
        <label class="field">
            <span>System mode</span>
            <select *ngIf="sysmodes.length" (change)="changeMode($event.target.value)" class="sys-modes">
                <option value="{{mode.value}}" *ngFor="let mode of sysmodes" selected={{isSelectedMode(mode.value)}}>{{mode.item.Name}}</option>
            </select>
        </label>
    </div>

    <div *ngIf="isSubPanel()" class="sub-panel">

        <div class="options">
            <b>Mass options</b>
            <label>
                <input type="checkbox" [checked]="iEqMar" (change)="iEqMar = !iEqMar" /><i></i>
                <span>Equipments margin</span>
            </label>
            <label>
                <input type="checkbox" [checked]="iElMar" (change)="iElMar = !iElMar" /><i></i>
                <span>Elements margin</span>
            </label>
            <label>
                <input type="checkbox" [checked]="iSysProMar" (change)="iSysProMar = !iSysProMar" /><i></i>
                <span>System propellant margin</span>
            </label>
            <b>Power options</b>
            <label>
                <input type="checkbox" [checked]="iEqMarPow" (change)="iEqMarPow = !iEqMarPow" /><i></i>
                <span>Equipments margin</span>
            </label>
            <label>
                <input type="checkbox" [checked]="iElMarPow" (change)="iElMarPow = !iElMarPow" /><i></i>
                <span>Elements margin</span>
            </label>
        </div>

        <div class="attrs">
            <app-display-panel
                url={{url}}
                (onError)="onError($event)"
                configurationId={{confId}}
                systemModeId={{sysmodeId}}
                sessionId={{sessionId}}
                iEqMar={{iEqMar}}
                iElMar={{iElMar}}
                iSysProMar={{iSysProMar}}
                iEqMarPow={{iEqMarPow}}
                iElMarPow={{iElMarPow}}>
            </app-display-panel>
        </div>

    </div>

    <h5 style="user-select: none;">Logs</h5>
    <div class="logs container" id="logs">
        <div class="log" *ngFor="let log of getLogs()">
            <span class="type-{{log.type}}">{{log}}</span>
        </div>
    </div>
</div>