.main-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
    padding: 20px;
    background-color: #eee;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
    box-sizing: border-box;

    .url {
        display: flex;
        align-items: center;

        > span {
            font-size: 13px;
            font-weight: bold;
        }

        input {
            margin: 0 15px;
            flex: 1;
        }
    }

    .error {
        background-color: #ED5565;
        box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
        color: white;
        padding: 10px;
        margin-bottom: 10px;
    }
}

.container {
    margin-bottom: 15px;
}

.models {
    align-items: flex-end;

    .path {
        margin: 0 15px;
        flex: 1;
    }
}

.config {
    .field {
        margin-right: 15px;
    }
}

.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px 0;

    label {
        cursor: pointer;
        font-size: 12px;
    }
}

.field {
    display: flex;
    flex-direction: column;
    > span {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 4px;
    }
}

.logs {
    font-size: 11px;
    font-family: monospace;
    background-color: #222;
    color: #eee;
    padding: 10px;
    max-height: 160px;
    overflow-y: auto;


    .type-error {
        color: #ED5565;
    }

    .type-warn {
        color: #FFCE54;
    }

    .type-info {
        color: #A0CECB;
    }

    &:empty {
        &::before {
            content: 'No logs yet.';
        }
    }
}
